
html {
    position: relative;
    min-height: 100%;
}

img { width: 100%; }
body {
  padding-top: 20px;
    margin-bottom: 60px;
}

.container .text-muted {
    margin: 20px 0;
}
/*.textarea  {*/
    /*width: 100%;*/
/*}*/

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}
/*option:first-child {*/
    /*color: #999;*/
/*}*/



/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Customize the nav-justified links to be fill the entire space of the .navbar */

.navbar {
    margin-bottom: 20px;
}

.nav-justified {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.nav-justified > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
  font-weight: bold;
  color: #777;
  text-align: center;
  background-color: #e5e5e5; /* Old browsers */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e5e5e5));
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  background-image:      -o-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  background-image:         linear-gradient(to bottom, #f5f5f5 0%,#e5e5e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
  background-repeat: repeat-x; /* Repeat the gradient */
  border-bottom: 1px solid #d5d5d5;
}
.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
  background-color: #ddd;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
}
.nav-justified > li:first-child > a {
  border-radius: 5px 5px 0 0;
}
.nav-justified > li:last-child > a {
  border-bottom: 0;
  border-radius: 0 0 5px 5px;
}

@media (min-width: 768px) {
  .nav-justified {
    max-height: 52px;
  }
  .nav-justified > li > a {
    border-right: 1px solid #d5d5d5;
    border-left: 1px solid #fff;
  }
  .nav-justified > li:first-child > a {
    border-left: 0;
    border-radius: 5px 0 0 5px;
  }
  .nav-justified > li:last-child > a {
    border-right: 0;
    border-radius: 0 5px 5px 0;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}

/*.tabs {*/
    /*position: relative;*/
    /*min-height: 300px; /!* This part sucks *!/*/
    /*clear: both;*/
    /*margin: 25px 0;*/
/*}*/
/*.tab {*/
    /*float: left;*/


/*}*/
/*.tab label {*/
    /*background: #eee;*/
    /*padding: 10px;*/
    /*margin-bottom: 30px;*/
    /*border: 1px solid #ccc;*/
    /*/!*margin-left: -1px;*!/*/
    /*position: relative;*/
    /*left: 1px;*/
/*}*/
/*.tab [type=radio] {*/
    /*display: none;*/
/*}*/
/*.content {*/
    /*position: absolute;*/
    /*top: 40px;*/
    /*left: 0;*/
    /*background: white;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*padding: 20px;*/
    /*border: 1px solid #ccc;*/
/*}*/
/*[type=radio]:checked ~ label {*/
    /*background: white;*/
    /*border-bottom: 1px solid white;*/
    /*z-index: 2;*/
/*}*/
/*[type=radio]:checked ~ label ~ .content {*/
    /*z-index: 1;*/
/*}*/

